body {
    background-color: lightblue;
  }


/* Navbar */
.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.left {
  padding: 100px 100px;
}

.topnav a:hover {
  background-color:#1f82af;
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #28afee;
  color: white;
}

.topnav-right {
  float: right;
}

.error a{
  background-color: #f0380a;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;
  height: 20px;
  margin-bottom: 0px;
  border-radius: 40px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
}

.success a{
  background-color: #0af057;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;
  height: 20px;
  margin-bottom: 0px;
  border-radius: 40px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
}