
.item {
    margin-left: 5%;
    margin-right: 5%;
    padding:  20px 300px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
}

.item-title {
    background-color: #28afee;
    font-size: 50px;
}

.item-task a{
    text-decoration: none;
    border-radius:32px;
    width:100px;
    text-align:left;
    padding:8px 16px;
    display:inline-block;
    background-color: red;
    text-align: center;
    color: black;
}

.item-task a:hover{
    background-color: black;
    color: white;
}

.delete-project {
    background-color: red;
}

.delete-project:hover {
    background-color: black;
    color: white;
}


.item-select:hover{
    background-color:  #1f82af;
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
}

.desc {
    font-size: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}